<html>
<head>
    <title>Flights</title>
</head>
<body>
<a href="/flight">Home</a>
<a href = "javascript:history.back()">Back</a>
<h3 align="center">Available Seats</h3>

<div align="center">

    <table border="1" align="center">
        {{^availableSeats.isEmpty}}

            <tr align="center">
            <th>
                Available Seats
            </th>
        </tr>
        {{#availableSeats}}
            <tr>
                <td>{{.}}</td>
            </tr>
        {{/availableSeats}}
        {{/availableSeats.isEmpty}}
        {{^availableSeats}}
            Invalid query
        {{/availableSeats}}

    </table>

</div>
</body>
</html>