<html>
<head>
    <title>Flights</title>
</head>
<body>
<a href="/flight">Home</a>
<h3 align="center">Select customer name from the following list: </h3>

<form align="center" action="/flight/listFlightInstances">
    <select name="passengerName">
        {{#customers}}
            <option value="{{name}}">{{name}}</option>
        {{/customers}}
    </select>
    <br><br>
    <input type="submit">
</form>
</body>
</html>