<html>
<head>
    <title>Flights</title>
</head>
<body>
<a href="/flight">Home</a>
<a href = "javascript:history.back()">Back</a>
<h3 align="center">Flight instances</h3>

<div align="center">

    <table border="1" align="center">
        {{^flightInstanceDetails.isEmpty}}

        <tr align="center">
            <th>
                Flight Number
            </th>
            <th>
                Flight Date
            </th>
        </tr>
            {{/flightInstanceDetails.isEmpty}}
                {{#flightInstanceDetails}}

                    <tr>
                <td>{{flightNumber}}</td>
                <td>{{flightDate}}</td>
            </tr>
        {{/flightInstanceDetails}}
        {{^flightInstanceDetails}}
            No flight instances found!
        {{/flightInstanceDetails}}

    </table>

</div>
</body>
</html>