<html>
<head>
    <title>Flights</title>
</head>
<body>
<a href="/flight">Home</a>
<a href="javascript:history.back()">Back</a>

<h3 align="center">Flight details</h3>

<div align="center">

    {{^flights.isEmpty}}
    <table border="1" align="center">

        <tr align="center">
            <th>
                Flight Number
            </th>
            <th>
                Weekdays
            </th>
        </tr>
        {{#flights}}

            <tr>
            <td>
                {{#flightNumbers}}
                    {{.}}
                {{/flightNumbers}}
            </td>
            <td>
                {{#weekdays}}
                    {{.}}
                {{/weekdays}}
            </td>
            </tr>

        {{/flights}}
    {{/flights.isEmpty}}
</table>

    {{^flights}}
        No flights available
    {{/flights}}


</div>
</body>
</html>