<html>
<head>
    <title>Flights</title>
</head>
<body>
<a href="/flight">Home</a>

<h3 align="center">Select a flight number from the following: </h3>

<form align="center" action="/flight/getFareDetails">
    <select name="flight_number">
        {{#flightNumbers}}
        <option value="{{.}}">{{.}}</option>
        {{/flightNumbers}}
    </select>
    <br><br>
    <input type="submit">
</form>
</body>
</html>