<html>
<head>
    <title>Flights</title>
</head>
<body>
<a href="/flight">Home</a>
<a href = "javascript:history.back()">Back</a>
<h3 align="center">Fare Details for the selected flight are: </h3>

<div align="center">

    <table border="1" align="center">
        {{^fareDetails.isEmpty}}

        <tr align="center">
            <th>
                FlightNumber
            </th>
            <th>
                FareCode
            </th>
            <th>
                Amount
            </th>
            <th>
                Restrictions
            </th>
        </tr>
            {{/fareDetails.isEmpty}}
                {{#fareDetails}}
                    <tr>
                <td>{{flightNumber}}</td>
                <td>{{fareCode}}</td>
                <td>{{amount}}</td>
                <td>{{restrictions}}</td>
            </tr>
        {{/fareDetails}}
        {{^fareDetails}}
            No fare details found!
        {{/fareDetails}}

    </table>

</div>
</body>
</html>