<html>
<head>
    <title>Users</title>
</head>
<body>
<h1 align="center">Flight details</h1>

<div align="center">

        {{^flights.isEmpty}}
            <table border="1" align="center">

            <tr align="center">
                <th>
                    Flight Number
                </th>
                <th>
                    Weekdays
                </th>
                </tr>
                {{#flights}}

                    <tr>
                {{#.}}

                        <td>{{flightNumber}}</td>
                        <td>{{weekdays}}</td>
                {{/.}}

                    </tr>

            {{/flights}}
        {{/flights.isEmpty}}
</table>

    {{^flights}}
            No flights available
        {{/flights}}


</div>
</body>
</html>