<html>
<head>
    <title>Flights</title>
</head>
<body>
<a href="/flight">Home</a>


<form align="center" action="/flight/getConnectingFlights">
    <div align="center">Select departure airport code:
        <select name="from_airport_code">
            {{#airportCodes}}
                <option value="{{.}}">{{.}}</option>
            {{/airportCodes}}
        </select>
    </div>
    <br><br>

    <div align="center">Select arrival airport code:
        <select name="to_airport_code">
            {{#airportCodes}}
                <option value="{{.}}">{{.}}</option>
            {{/airportCodes}}
        </select>
    </div>
    <br><br>
    <div align="center">Select No. of legs:
    <select name="no_of_legs">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
    </select>
    </div>
    <br><br>
    <input type="submit">
</form>
</body>
</html>