<html>
<head>
    <title>Flights</title>
</head>
<body>
<h1 align="center">Select Flight Instances:</h1>

<form align="center" action="/flight/get{{url}}">
    <select name="flight_instance">
        {{#flightInstances}}
        <option value="{{flightNumber}}_{{flightDate}}">{{flightNumber}} on {{flightDate}}</option>
        {{/flightInstances}}
    </select>
    <br><br>
    <input type="submit">
</form>
</body>
</html>