<html>
<head>
    <title>Users</title>
</head>
<body>
<h1 align="center">Fare Details</h1>

<div align="center">

    <table border="1" align="center">
        <tr align="center">
            <th>
                FlightNumber
            </th>
            <th>
                FareCode
            </th>
            <th>
                Amount
            </th>
            <th>
                Restrictions
            </th>
        </tr>
        {{#fareDetails}}
            <tr>
                <td>{{flightNumber}}</td>
                <td>{{fareCode}}</td>
                <td>{{amount}}</td>
                <td>{{restrictions}}</td>
            </tr>
        {{/fareDetails}}

    </table>

</div>
</body>
</html>