<html>
<head>
    <title>Flights</title>
</head>
<body>
<a href="/flight">Home</a>
<a href="javascript:history.back()">Back</a>

<h3 align="center">Passenger details of the selected flight: </h3>

<div align="center">

    <table border="1" align="center">
        {{^customerList.isEmpty}}

            <tr align="center">
                <th>
                    Passenger name
                </th>
                <th>
                    Passenger phone
                </th>
            </tr>
        {{/customerList.isEmpty}}
        {{#customerList}}
            <tr>
                <td>{{name}}</td>
                <td>{{phoneNumber}}</td>
            </tr>
        {{/customerList}}
        {{^customerList}}
            Invalid query!
        {{/customerList}}

    </table>

</div>
</body>
</html>